<!DOCTYPE html>
<html>
<head>
  <title>FormButton.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../doc-style.css" />
  <script src="../doc-filelist.js"></script>
  <script>
    var relativeDir = "../", thisFile = "Users/barton/projects/snowflakework/snowflake//components/FormButton.js", defaultSidebar = true;
  </script>
  <script src="../doc-script.js"></script>
</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">
      <div class="heading h1">
        <a href="#formbutton.js">FormButton.js</a>
      </div>
      <div class="heading h2">
        <a href="#imports">Imports</a>
      </div>
      <div class="heading h2">
        <a href="#styles">Styles</a>
      </div>
      <div class="heading h3">
        <a href="#render">render</a>
      </div>
    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container"><div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="formbutton.js">
  <h1>
    <a href="#formbutton.js" name="formbutton.js" class="pilcrow">&#182;</a>
    FormButton.js
  </h1>
</div>

  </div>
  <div class="body"><p>Display a button that responds to onPress and is colored appropriately</p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre><span class="s1">&#39;use strict&#39;</span><span class="p">;</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="imports">
  <h2>
    <a href="#imports" name="imports" class="pilcrow">&#182;</a>
    Imports
  </h2>
</div>

  </div>
  <div class="body"><p>React</p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">import</span> <span class="nx">React</span><span class="p">,</span> <span class="p">{</span><span class="nx">Component</span><span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;react&#39;</span><span class="p">;</span>
<span class="kr">import</span>
<span class="p">{</span>  
  <span class="nx">StyleSheet</span><span class="p">,</span>
  <span class="nx">View</span>
<span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;react-native&#39;</span><span class="p">;</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs">
<div class="pilwrap">
  <a class="pilcrow" href="#section-3" id="section-3">&#182;</a>
</div>
<div class="dox">
  <div class="summary"><p>The platform neutral button</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">const</span>  <span class="nx">Button</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;apsl-react-native-button&#39;</span><span class="p">);</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="styles">
  <h2>
    <a href="#styles" name="styles" class="pilcrow">&#182;</a>
    Styles
  </h2>
</div>

  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kd">var</span> <span class="nx">styles</span> <span class="o">=</span> <span class="nx">StyleSheet</span><span class="p">.</span><span class="nx">create</span><span class="p">({</span>
  <span class="nx">signin</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">marginLeft</span><span class="o">:</span> <span class="mi">10</span><span class="p">,</span>
    <span class="nx">marginRight</span><span class="o">:</span> <span class="mi">10</span>
  <span class="p">},</span>
  <span class="nx">button</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">backgroundColor</span><span class="o">:</span> <span class="s1">&#39;#FF3366&#39;</span><span class="p">,</span>
    <span class="nx">borderColor</span><span class="o">:</span>  <span class="s1">&#39;#FF3366&#39;</span>
  <span class="p">}</span>

<span class="p">});</span>

<span class="kd">var</span> <span class="nx">FormButton</span> <span class="o">=</span> <span class="nx">React</span><span class="p">.</span><span class="nx">createClass</span><span class="p">({</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="render">
  <h3>
    <a href="#render" name="render" class="pilcrow">&#182;</a>
    render
  </h3>
</div>

  </div>
  <div class="body"><p>Display the Button </p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">render</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="p">(</span>
      <span class="o">&lt;</span><span class="nx">View</span> <span class="nx">style</span><span class="o">=</span><span class="p">{</span><span class="nx">styles</span><span class="p">.</span><span class="nx">signin</span><span class="p">}</span><span class="o">&gt;</span>
        <span class="o">&lt;</span><span class="nx">Button</span> <span class="nx">style</span><span class="o">=</span><span class="p">{</span><span class="nx">styles</span><span class="p">.</span><span class="nx">button</span><span class="p">}</span>
                <span class="nx">textStyle</span><span class="o">=</span><span class="p">{{</span><span class="nx">fontSize</span><span class="o">:</span> <span class="mi">18</span><span class="p">}}</span>                
                <span class="nx">isDisabled</span><span class="o">=</span><span class="p">{</span><span class="k">this</span><span class="p">.</span><span class="nx">props</span><span class="p">.</span><span class="nx">isDisabled</span><span class="p">}</span>
                <span class="nx">onPress</span><span class="o">=</span><span class="p">{</span><span class="k">this</span><span class="p">.</span><span class="nx">props</span><span class="p">.</span><span class="nx">onPress</span><span class="p">}</span> <span class="o">&gt;</span>
          <span class="p">{</span><span class="k">this</span><span class="p">.</span><span class="nx">props</span><span class="p">.</span><span class="nx">buttonText</span><span class="p">}</span>
        <span class="o">&lt;</span><span class="err">/Button&gt;</span>
      <span class="o">&lt;</span><span class="err">/View&gt;</span>
    <span class="p">);</span>
  <span class="p">}</span>
<span class="p">});</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="nx">FormButton</span><span class="p">;</span>
</pre></div>
        </td>
      </tr>
  </tbody>
</table>
  </div>
</body>
</html>
