<!DOCTYPE html>
<html>
<head>
  <title>ItemCheckbox.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../doc-style.css" />
  <script src="../doc-filelist.js"></script>
  <script>
    var relativeDir = "../";
    var thisFile = "Users/barton/projects/snowflakework/snowflake/components/ItemCheckbox.js";
    var defaultSidebar = true;
  </script>
  <script src="../doc-script.js"></script>

</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">

      <div class="heading h1">
        <a href="#itemcheckbox.js">ItemCheckbox.js</a>
      </div>

      <div class="heading h2">
        <a href="#imports">Imports</a>
      </div>

      <div class="heading h2">
        <a href="#itemcheckbox-class">ItemCheckbox class</a>
      </div>

      <div class="heading h3">
        <a href="#getdefaultprops">getDefaultProps</a>
      </div>

      <div class="heading h3">
        <a href="#getinitialstate">getInitialState</a>
      </div>

      <div class="heading h3">
        <a href="#_getcirclechecksytel">_getCircleCheckSytel</a>
      </div>

      <div class="heading h3">
        <a href="#_completeprogress">_completeProgress</a>
      </div>

      <div class="heading h3">
        <a href="#componentdidmount">componentDidMount</a>
      </div>

      <div class="heading h3">
        <a href="#render">render</a>
      </div>

    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container">
    <div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
    
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="itemcheckbox.js">
  <h1>
    <a href="#itemcheckbox.js" name="itemcheckbox.js" class="pilcrow"></a>
ItemCheckbox.js
  </h1>
</div>
</div>
<div class="body">
<p>This class was initially written by
https://github.com/mhollweck/react-native-item-checkbox</p>
<p>I've opened an issue to attempt to merge this back in</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-meta">'use strict'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="imports">
  <h2>
    <a href="#imports" name="imports" class="pilcrow"></a>
Imports
  </h2>
</div>
</div>
<div class="body">
<p>React</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> React, {PropTypes} <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>;
<span class="hljs-keyword">import</span>
{
  View,
  Text,
  TouchableHighlight,
  TouchableWithoutFeedback
} <span class="hljs-keyword">from</span> <span class="hljs-string">'react-native'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-3" id="section-3"></a>
</div>
<div class="dox">
<div class="summary">
<p>The vector icon</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">var</span> Icon = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react-native-vector-icons/FontAwesome'</span>);



<span class="hljs-keyword">var</span> ItemCheckbox = React.createClass({
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="itemcheckbox-class">
  <h2>
    <a href="#itemcheckbox-class" name="itemcheckbox-class" class="pilcrow"></a>
ItemCheckbox class
  </h2>
</div>
</div>
<div class="body">
<p>set the propTypes</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  propTypes: {
    onCheck: PropTypes.func,
    onUncheck: PropTypes.func,
    icon_check: PropTypes.string,
    icon_open: PropTypes.string,
    size: PropTypes.number,
    backgroundColor: PropTypes.string,
    color: PropTypes.string,
    iconSize: PropTypes.string,
    checked: PropTypes.bool,
    style: PropTypes.func,
    text: PropTypes.string,
    disabled: PropTypes.bool
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="getdefaultprops">
  <h3>
    <a href="#getdefaultprops" name="getdefaultprops" class="pilcrow"></a>
getDefaultProps
  </h3>
</div>
<p>set the default values</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  getDefaultProps: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      onCheck: <span class="hljs-literal">null</span>,
      onUncheck: <span class="hljs-literal">null</span>,
      icon_check: <span class="hljs-string">"check-square"</span>,
      icon_open: <span class="hljs-string">"square-o"</span>,
      size: <span class="hljs-number">30</span>,
      backgroundColor: <span class="hljs-string">'white'</span>,
      color: <span class="hljs-string">'grey'</span>,
      iconSize: <span class="hljs-string">'normal'</span>,
      checked: <span class="hljs-literal">false</span>,
      text: <span class="hljs-string">'MISSING TEXT'</span>,
      disabled: <span class="hljs-literal">false</span>
    };
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="getinitialstate">
  <h3>
    <a href="#getinitialstate" name="getinitialstate" class="pilcrow"></a>
getInitialState
  </h3>
</div>
</div>
<div class="body">
<p>Set the box to be checked or not</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  getInitialState: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      checked: <span class="hljs-keyword">this</span>.props.checked,
      bg_color: <span class="hljs-keyword">this</span>.props.backgroundColor
    };
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="_getcirclechecksytel">
  <h3>
    <a href="#_getcirclechecksytel" name="_getcirclechecksytel" class="pilcrow"></a>
_getCircleCheckSytel
  </h3>
</div>
<p>merge the props styles w/ some defaults</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  _getCircleCheckStyle: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      width: <span class="hljs-keyword">this</span>.props.size,
      height: <span class="hljs-keyword">this</span>.props.size,
      backgroundColor: <span class="hljs-keyword">this</span>.state.bg_color,
      borderColor: <span class="hljs-keyword">this</span>.props.color,
      borderWidth: <span class="hljs-number">2</span>,
      borderRadius: <span class="hljs-keyword">this</span>.props.size/<span class="hljs-number">2</span>,
      justifyContent: <span class="hljs-string">'center'</span>,
      alignItems: <span class="hljs-string">'center'</span>,
      padding: <span class="hljs-number">2</span>
    };
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="_completeprogress">
  <h3>
    <a href="#_completeprogress" name="_completeprogress" class="pilcrow"></a>
_completeProgress
  </h3>
</div>
<p>If the checkbox is pressable, figure out what state it's in and
what the display should look like</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  _completeProgress: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.state.checked) {
      <span class="hljs-keyword">this</span>.setState({
        checked: <span class="hljs-literal">false</span>,
        bg_color: <span class="hljs-keyword">this</span>.props.backgroundColor
      });
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.onUncheck) {
        <span class="hljs-keyword">this</span>.props.onUncheck();
      }
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">this</span>.setState({
        checked: <span class="hljs-literal">true</span>,
        bg_color: <span class="hljs-keyword">this</span>.props.color
      });
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.onCheck) {
        <span class="hljs-keyword">this</span>.props.onCheck();
      }
    }
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="componentdidmount">
  <h3>
    <a href="#componentdidmount" name="componentdidmount" class="pilcrow"></a>
componentDidMount
  </h3>
</div>
<p>If there is a <code>checked</code> property, set the UI appropriately</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  componentDidMount: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.checked) {
      <span class="hljs-keyword">this</span>._completeProgress();
    }
  },
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="render">
  <h3>
    <a href="#render" name="render" class="pilcrow"></a>
render
  </h3>
</div>
<p>Use Touchable with or without Feedback depending on
<code>disabled</code>.
Set the <code>iconName</code> depending on if checked</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  render: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">var</span> iconName=<span class="hljs-keyword">this</span>.props.icon_open;
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.state.checked) {
      iconName=<span class="hljs-keyword">this</span>.props.icon_check;
    }
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.disabled) {
      iconName = <span class="hljs-keyword">this</span>.props.checked ? <span class="hljs-keyword">this</span>.props.icon_check : <span class="hljs-keyword">this</span>.props.icon_open;
      <span class="hljs-keyword">return</span> (
        &lt;View style={this.props.style}&gt;
          &lt;TouchableWithoutFeedback&gt;
            &lt;View style={{
                flexDirection: 'row',
                flex:1
              }}&gt;
              &lt;Icon
                  name={iconName}
                  size={20}
              /&gt;
              &lt;Text&gt; {this.props.text}&lt;/Text&gt;
            &lt;/View&gt;
          &lt;/TouchableWithoutFeedback&gt;
        &lt;/View&gt;
        );
      } else {
        return(
          &lt;View style={this.props.style}&gt;
            &lt;TouchableHighlight
                onPress={this._completeProgress}
            &gt;
              &lt;View style={{
                  flexDirection: 'row',
                  flex:1
                }}&gt;
                &lt;Icon
                    name={iconName}
                    size={20}
                /&gt;
                &lt;Text&gt; {this.props.text}&lt;/Text&gt;
              &lt;/View&gt;
            &lt;/TouchableHighlight&gt;
          &lt;/View&gt;
        );
      }
    }
  });

module.exports = ItemCheckbox;

</pre>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</body>
</html>
