<!DOCTYPE html>
<html>
<head>
  <title>LoginRender.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../doc-style.css" />
  <script src="../doc-filelist.js"></script>
  <script>
    var relativeDir = "../";
    var thisFile = "Users/barton/projects/snowflakework/snowflake/components/LoginRender.js";
    var defaultSidebar = true;
  </script>
  <script src="../doc-script.js"></script>

</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">

      <div class="heading h1">
        <a href="#login.js">Login.js</a>
      </div>

      <div class="heading h2">
        <a href="#imports">Imports</a>
      </div>

      <div class="heading h2">
        <a href="#styles">Styles</a>
      </div>

      <div class="heading h2">
        <a href="#redux-boilerplate">Redux boilerplate</a>
      </div>

      <div class="heading h3">
        <a href="#translations">Translations</a>
      </div>

      <div class="heading h3">
        <a href="#componentwillreceiveprops">componentWillReceiveProps</a>
      </div>

      <div class="heading h3">
        <a href="#onchange">onChange</a>
      </div>

      <div class="heading h3">
        <a href="#render">render</a>
      </div>

    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container">
    <div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
    
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="login.js">
  <h1>
    <a href="#login.js" name="login.js" class="pilcrow"></a>
Login.js
  </h1>
</div>
</div>
<div class="body">
<p>This class is a little complicated as it handles multiple states.</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-meta">'use strict'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="imports">
  <h2>
    <a href="#imports" name="imports" class="pilcrow"></a>
Imports
  </h2>
</div>
</div>
<div class="body">
<p>Redux</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> { bindActionCreators } <span class="hljs-keyword">from</span> <span class="hljs-string">'redux'</span>;
<span class="hljs-keyword">import</span> { connect } <span class="hljs-keyword">from</span> <span class="hljs-string">'react-redux'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-3" id="section-3"></a>
</div>
<div class="dox">
<div class="summary">
<p>The actions we need</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> * <span class="hljs-keyword">as</span> authActions <span class="hljs-keyword">from</span> <span class="hljs-string">'../reducers/auth/authActions'</span>;
<span class="hljs-keyword">import</span> * <span class="hljs-keyword">as</span> globalActions <span class="hljs-keyword">from</span> <span class="hljs-string">'../reducers/global/globalActions'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-4" id="section-4"></a>
</div>
<div class="dox">
<div class="summary">
<p>Immutable</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> {<span class="hljs-built_in">Map</span>} <span class="hljs-keyword">from</span> <span class="hljs-string">'immutable'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-5" id="section-5"></a>
</div>
<div class="dox">
<div class="summary">
<p>Router actions</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> { Actions } <span class="hljs-keyword">from</span> <span class="hljs-string">'react-native-router-flux'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-6" id="section-6"></a>
</div>
<div class="dox">
<div class="summary">
<p>The Header will display a Image and support Hot Loading</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> Header <span class="hljs-keyword">from</span> <span class="hljs-string">'../components/Header'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-7" id="section-7"></a>
</div>
<div class="dox">
<div class="summary">
<p>The ErrorAlert displays an alert for both ios &amp; android</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> ErrorAlert <span class="hljs-keyword">from</span> <span class="hljs-string">'../components/ErrorAlert'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-8" id="section-8"></a>
</div>
<div class="dox">
<div class="summary">
<p>The FormButton will change it's text between the 4 states as necessary</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> FormButton <span class="hljs-keyword">from</span> <span class="hljs-string">'../components/FormButton'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-9" id="section-9"></a>
</div>
<div class="dox">
<div class="summary">
<p>The LoginForm does the heavy lifting of displaying the fields for
textinput and displays the error messages</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> LoginForm <span class="hljs-keyword">from</span> <span class="hljs-string">'../components/LoginForm'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-10" id="section-10"></a>
</div>
<div class="dox">
<div class="summary">
<p>The itemCheckbox will toggle the display of the password fields</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> ItemCheckbox <span class="hljs-keyword">from</span> <span class="hljs-string">'../components/ItemCheckbox'</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-11" id="section-11"></a>
</div>
<div class="dox">
<div class="summary">
<p>The necessary React components</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">import</span> React, {Component} <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>;
<span class="hljs-keyword">import</span>
{
  StyleSheet,
  ScrollView,
  Text,
  TouchableHighlight,
  View
}
<span class="hljs-keyword">from</span> <span class="hljs-string">'react-native'</span>;

<span class="hljs-keyword">import</span> Dimensions <span class="hljs-keyword">from</span> <span class="hljs-string">'Dimensions'</span>;
<span class="hljs-keyword">var</span> {height, width} = Dimensions.get(<span class="hljs-string">'window'</span>); <span class="hljs-comment">// Screen dimensions in current orientation</span>

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-12" id="section-12"></a>
</div>
<div class="dox">
<div class="summary">
<p>The states were interested in</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">const</span> {
  LOGIN,
  REGISTER,
  FORGOT_PASSWORD
} = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../lib/constants'</span>).default;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="styles">
  <h2>
    <a href="#styles" name="styles" class="pilcrow"></a>
Styles
  </h2>
</div>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">var</span> styles = StyleSheet.create({
  container: {
    flexDirection: <span class="hljs-string">'column'</span>,
    flex: <span class="hljs-number">1</span>
  },
  inputs: {
    marginTop: <span class="hljs-number">10</span>,
    marginBottom: <span class="hljs-number">10</span>,
    marginLeft: <span class="hljs-number">10</span>,
    marginRight: <span class="hljs-number">10</span>
  },
  forgotContainer: {
    flexDirection: <span class="hljs-string">'row'</span>,
    justifyContent: <span class="hljs-string">'space-between'</span>,
    marginTop: <span class="hljs-number">10</span>,
    marginLeft: <span class="hljs-number">10</span>,
    marginRight: <span class="hljs-number">10</span>
  }
});
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="redux-boilerplate">
  <h2>
    <a href="#redux-boilerplate" name="redux-boilerplate" class="pilcrow"></a>
Redux boilerplate
  </h2>
</div>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">const</span> actions = [
  authActions,
  globalActions
];

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">mapStateToProps</span>(<span class="hljs-params">state</span>) </span>{
  <span class="hljs-keyword">return</span> {
  };
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">mapDispatchToProps</span>(<span class="hljs-params">dispatch</span>) </span>{
  <span class="hljs-keyword">const</span> creators = <span class="hljs-built_in">Map</span>()
          .merge(...actions)
          .filter(value =&gt; <span class="hljs-keyword">typeof</span> value === <span class="hljs-string">'function'</span>)
          .toObject();

  <span class="hljs-keyword">return</span> {
    actions: bindActionCreators(creators, dispatch),
    dispatch
  };
}
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="translations">
  <h3>
    <a href="#translations" name="translations" class="pilcrow"></a>
Translations
  </h3>
</div>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">var</span> I18n = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react-native-i18n'</span>);
<span class="hljs-keyword">import</span> Translations <span class="hljs-keyword">from</span> <span class="hljs-string">'../lib/Translations'</span>;
I18n.translations = Translations;


<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">LoginRender</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span>(props) {
    <span class="hljs-keyword">super</span>(props);
    <span class="hljs-keyword">this</span>.errorAlert = <span class="hljs-keyword">new</span> ErrorAlert();
    <span class="hljs-keyword">this</span>.state ={
      value: {
        username: <span class="hljs-keyword">this</span>.props.auth.form.fields.username,
        email: <span class="hljs-keyword">this</span>.props.auth.form.fields.email,
        password: <span class="hljs-keyword">this</span>.props.auth.form.fields.password,
        passwordAgain: <span class="hljs-keyword">this</span>.props.auth.form.fields.passwordAgain
      }
    };
  }
  
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="componentwillreceiveprops">
  <h3>
    <a href="#componentwillreceiveprops" name="componentwillreceiveprops" class="pilcrow"></a>
componentWillReceiveProps
  </h3>
</div>
<p>As the properties are validated they will be set here.</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  componentWillReceiveProps(nextprops) {
    <span class="hljs-keyword">this</span>.setState({
      value: {
	username: nextprops.auth.form.fields.username,
	email: nextprops.auth.form.fields.email,
	password: nextprops.auth.form.fields.password,
	passwordAgain: nextprops.auth.form.fields.passwordAgain
      }
    });
  }
  
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="onchange">
  <h3>
    <a href="#onchange" name="onchange" class="pilcrow"></a>
onChange
  </h3>
</div>
</div>
<div class="body">
<p>As the user enters keys, this is called for each key stroke.
Rather then publish the rules for each of the fields, I find it
better to display the rules required as long as the field doesn't
meet the requirements.
<em>Note</em> that the fields are validated by the authReducer</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  onChange(value) {
    <span class="hljs-keyword">if</span> (value.username != <span class="hljs-string">''</span>) {
      <span class="hljs-keyword">this</span>.props.actions.onAuthFormFieldChange(<span class="hljs-string">'username'</span>,value.username);
    }    
    <span class="hljs-keyword">if</span> (value.email != <span class="hljs-string">''</span>) {
      <span class="hljs-keyword">this</span>.props.actions.onAuthFormFieldChange(<span class="hljs-string">'email'</span>,value.email);
    }
    <span class="hljs-keyword">if</span> (value.password != <span class="hljs-string">''</span>) {
      <span class="hljs-keyword">this</span>.props.actions.onAuthFormFieldChange(<span class="hljs-string">'password'</span>,value.password);
    }
    <span class="hljs-keyword">if</span> (value.passwordAgain != <span class="hljs-string">''</span>) {
      <span class="hljs-keyword">this</span>.props.actions.onAuthFormFieldChange(<span class="hljs-string">'passwordAgain'</span>,value.passwordAgain);
    }
    <span class="hljs-keyword">this</span>.setState(
      {value}
    );
  }
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-18" id="section-18"></a>
</div>
<div class="dox">
<div class="summary">
<p>Get the appropriate message for the current action</p>
</div>
<div class="body">
</div>
<div class="details">
<div class="dox_tag_title">Params</div>
<div class="dox_tag_detail">
<span class="dox_tag_name">messageType</span>
<span>FORGOT_PASSWORD, or LOGIN, or REGISTER
</span>
</div>
<div class="dox_tag_detail">
<span class="dox_tag_name">actions</span>
<span>the action for the message type
</span>
</div>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  getMessage(messageType, actions) {
    <span class="hljs-keyword">let</span> forgotPassword =
    <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">TouchableHighlight</span>
        <span class="hljs-attr">onPress</span>=<span class="hljs-string">{()</span> =&gt;</span> {
            actions.forgotPasswordState();
            Actions.ForgotPassword();
          }} &gt;
      <span class="hljs-tag">&lt;<span class="hljs-name">Text</span>&gt;</span>{I18n.t("LoginRender.forgot_password")}<span class="hljs-tag">&lt;/<span class="hljs-name">Text</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">TouchableHighlight</span>&gt;</span></span>;

    <span class="hljs-keyword">let</span> alreadyHaveAccount =
    <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">TouchableHighlight</span>
        <span class="hljs-attr">onPress</span>=<span class="hljs-string">{()</span> =&gt;</span> {
            actions.loginState();
            Actions.Login();
          }} &gt;
      <span class="hljs-tag">&lt;<span class="hljs-name">Text</span>&gt;</span>{I18n.t("LoginRender.already_have_account")}<span class="hljs-tag">&lt;/<span class="hljs-name">Text</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">TouchableHighlight</span>&gt;</span></span>;
    
    <span class="hljs-keyword">let</span> register =
    <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">TouchableHighlight</span> 
        <span class="hljs-attr">onPress</span>=<span class="hljs-string">{()</span> =&gt;</span> {
            actions.registerState();
            Actions.Register();
          }} &gt;
      <span class="hljs-tag">&lt;<span class="hljs-name">Text</span>&gt;</span>{I18n.t("LoginRender.register")}<span class="hljs-tag">&lt;/<span class="hljs-name">Text</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">TouchableHighlight</span>&gt;</span></span>;
    
    <span class="hljs-keyword">switch</span>(messageType) {
    <span class="hljs-keyword">case</span> FORGOT_PASSWORD:
      <span class="hljs-keyword">return</span> forgotPassword;
    <span class="hljs-keyword">case</span> LOGIN:
      <span class="hljs-keyword">return</span> alreadyHaveAccount;
    <span class="hljs-keyword">case</span> REGISTER:	
      <span class="hljs-keyword">return</span> register;
    }
  }
  
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="render">
  <h3>
    <a href="#render" name="render" class="pilcrow"></a>
render
  </h3>
</div>
<p>Setup some default presentations and render</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">  render() {
    <span class="hljs-keyword">var</span> formType = <span class="hljs-keyword">this</span>.props.formType;
    <span class="hljs-keyword">var</span> loginButtonText = <span class="hljs-keyword">this</span>.props.loginButtonText;
    <span class="hljs-keyword">var</span> onButtonPress = <span class="hljs-keyword">this</span>.props.onButtonPress;
    <span class="hljs-keyword">var</span> displayPasswordCheckbox = <span class="hljs-keyword">this</span>.props.displayPasswordCheckbox;
    <span class="hljs-keyword">var</span> leftMessageType = <span class="hljs-keyword">this</span>.props.leftMessageType;
    <span class="hljs-keyword">var</span> rightMessageType = <span class="hljs-keyword">this</span>.props.rightMessageType;
    
    <span class="hljs-keyword">var</span> passwordCheckbox = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">Text</span>/&gt;</span></span>;
    <span class="hljs-keyword">let</span> leftMessage = <span class="hljs-keyword">this</span>.getMessage(leftMessageType, <span class="hljs-keyword">this</span>.props.actions);
    <span class="hljs-keyword">let</span> rightMessage = <span class="hljs-keyword">this</span>.getMessage(rightMessageType, <span class="hljs-keyword">this</span>.props.actions);
    
    <span class="hljs-keyword">let</span> self = <span class="hljs-keyword">this</span>;

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-20" id="section-20"></a>
</div>
<p>display the login / register / change password screens</p>

        </td>
        <td class="code highlight">
          <pre class="javascript">    <span class="hljs-keyword">this</span>.errorAlert.checkError(<span class="hljs-keyword">this</span>.props.auth.form.error);
    
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-21" id="section-21"></a>
</div>
<div class="dox">
<div class="summary">
<p>Toggle the display of the Password and PasswordAgain fields</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">    <span class="hljs-keyword">if</span> (displayPasswordCheckbox) {
      passwordCheckbox =
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">ItemCheckbox</span>
      <span class="hljs-attr">text</span>=<span class="hljs-string">{I18n.t(</span>"<span class="hljs-attr">LoginRender.show_password</span>")}
          <span class="hljs-attr">disabled</span>=<span class="hljs-string">{this.props.auth.form.isFetching}</span>
          <span class="hljs-attr">onCheck</span>=<span class="hljs-string">{()</span> =&gt;</span> {
	      this.props.actions.onAuthFormFieldChange('showPassword',true);
            }}
          onUncheck={() =&gt; {
	      this.props.actions.onAuthFormFieldChange('showPassword',false);
            }}
      /&gt;;
    }

</span></pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-22" id="section-22"></a>
</div>
<div class="dox">
<div class="summary">
<p>The LoginForm is now defined with the required fields.  Just
surround it with the Header and the navigation messages
Note how the button too is disabled if we're fetching. The
header props are mostly for support of Hot reloading.
See the docs for Header for more info.</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">    
    <span class="hljs-keyword">return</span>(
      &lt;View style={styles.container}&gt;
	&lt;ScrollView horizontal={false} width={width} height={height}&gt;
	  &lt;View&gt;
	    &lt;Header isFetching={this.props.auth.form.isFetching}
                    showState={this.props.global.showState}
                    currentState={this.props.global.currentState}
                    onGetState={this.props.actions.getState}
                    onSetState={this.props.actions.setState}                      
	    /&gt;
	    
	    &lt;View style={styles.inputs}&gt;
	      &lt;LoginForm
                  formType={formType}
                  form={this.props.auth.form}
                  value={this.state.value}
                  onChange={self.onChange.bind(self)}
	      /&gt;
	      {passwordCheckbox}
            &lt;/View&gt;
	    
	    &lt;FormButton
                isDisabled={!this.props.auth.form.isValid || this.props.auth.form.isFetching}
                onPress={onButtonPress}
                buttonText={loginButtonText}/&gt;
	    
	    &lt;View &gt;
	      &lt;View style={styles.forgotContainer}&gt;
	        {leftMessage}
                {rightMessage}
              &lt;/View&gt;
	    &lt;/View&gt;	 
	    
	  &lt;/View&gt;
	&lt;/ScrollView&gt;
      &lt;/View&gt;
    );
  }
}
export default connect(mapStateToProps, mapDispatchToProps)(LoginRender);

</pre>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</body>
</html>
