<!DOCTYPE html>
<html>
<head>
  <title>ErrorAlert-test.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../doc-style.css" />
  <script src="../../doc-filelist.js"></script>
  <script>
    var relativeDir = "../../";
    var thisFile = "Users/barton/projects/snowflakework/snowflake/components/__tests__/ErrorAlert-test.js";
    var defaultSidebar = true;
  </script>
  <script src="../../doc-script.js"></script>

</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">

      <div class="heading h1">
        <a href="#erroralert-test.js">ErrorAlert-test.js</a>
      </div>

      <div class="heading h2">
        <a href="#mock">Mock</a>
      </div>

      <div class="heading h2">
        <a href="#under-test">Under test</a>
      </div>

      <div class="heading h2">
        <a href="#test">Test</a>
      </div>

      <div class="heading h3">
        <a href="#defaults">defaults</a>
      </div>

    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container">
    <div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
    
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="erroralert-test.js">
  <h1>
    <a href="#erroralert-test.js" name="erroralert-test.js" class="pilcrow"></a>
ErrorAlert-test.js
  </h1>
</div>
<p>This class validates that the SimpleAlert class will display the
correct error message</p>
</div>
<div class="body">
<p><em>Note:</em> if you want to understand the structures here, add a
<code>console.log</code> and then <code>npm test</code>.</p>
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-meta">'use strict'</span>;
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="mock">
  <h2>
    <a href="#mock" name="mock" class="pilcrow"></a>
Mock
  </h2>
</div>
<p>Mock the simpledialog, see: 'src/<strong>mocks</strong>/react-native-simpledialog-android.js'</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">
jest.mock(<span class="hljs-string">'react-native-simpledialog-android'</span>);

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-3" id="section-3"></a>
</div>
<div class="dox">
<div class="summary">
<p>This will load in the mocked version</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">const</span> SimpleAlert = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react-native-simpledialog-android'</span>);

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="under-test">
  <h2>
    <a href="#under-test" name="under-test" class="pilcrow"></a>
Under test
  </h2>
</div>
<p>Object under test</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript"><span class="hljs-keyword">var</span> ErrorAlert = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../ErrorAlert'</span>);

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="test">
  <h2>
    <a href="#test" name="test" class="pilcrow"></a>
Test
  </h2>
</div>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">describe(<span class="hljs-string">'ErrorAlert'</span>, () =&gt; {
  it(<span class="hljs-string">'should be fine'</span>, () =&gt; {
</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="dox">
<div class="summary">
<div class="pilwrap" id="defaults">
  <h3>
    <a href="#defaults" name="defaults" class="pilcrow"></a>
defaults
  </h3>
</div>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">    <span class="hljs-keyword">const</span> errorAlertProps = {
      error: {
        error: <span class="hljs-string">'Error occurred'</span>
      }
    };

</pre>
        </td>
      </tr>
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-7" id="section-7"></a>
</div>
<div class="dox">
<div class="summary">
<p>Invoke the ErrorAlert constructor and pass in the mocked
version
Then call the method that processes the error
check that the title is 'Error' which is a hard coded constant
and the alert matches the props error</p>
</div>
<div class="body">
</div>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">    <span class="hljs-keyword">new</span> ErrorAlert().checkError(errorAlertProps);
    expect(SimpleAlert.alert.mock.calls[<span class="hljs-number">0</span>][<span class="hljs-number">0</span>]).toEqual(<span class="hljs-string">'Error'</span>);
    expect(SimpleAlert.alert.mock.calls[<span class="hljs-number">0</span>][<span class="hljs-number">1</span>]).toEqual(errorAlertProps.error.error);
  });


});<span class="hljs-comment">//describe ErrorAlert</span>

</pre>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</body>
</html>
