<!DOCTYPE html>
<html>
<head>
  <title>ItemCheckbox-test.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../doc-style.css" />
  <script src="../../doc-filelist.js"></script>
  <script>
    var relativeDir = "../../", thisFile = "Users/barton/projects/snowflakework/snowflake//components/__tests__/ItemCheckbox-test.js", defaultSidebar = true;
  </script>
  <script src="../../doc-script.js"></script>
</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">
      <div class="heading h1">
        <a href="#itemcheckbox-test.js">ItemCheckbox-test.js</a>
      </div>
      <div class="heading h2">
        <a href="#test">Test</a>
      </div>
      <div class="heading h3">
        <a href="#if%20not%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text">if not disabled and checked, it should display check-square and text</a>
      </div>
      <div class="heading h3">
        <a href="#if%20not%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text">if not disabled and not checked, it should display square-o and text</a>
      </div>
      <div class="heading h3">
        <a href="#if%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text">if disabled and checked, it should display check-square and text</a>
      </div>
      <div class="heading h3">
        <a href="#if%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text">if disabled and not checked, it should display square-o and text</a>
      </div>
    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container"><div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="itemcheckbox-test.js">
  <h1>
    <a href="#itemcheckbox-test.js" name="itemcheckbox-test.js" class="pilcrow">&#182;</a>
    ItemCheckbox-test.js
  </h1>
</div>

  </div>
  <div class="body"><p>This class tests that the ItemCheckbox renders correctly under
numerous conditions</p>

<p><em>Note:</em> if you want to understand the structures here, add a
<code>console.log</code> and then <code>npm test</code>.</p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre><span class="s1">&#39;use strict&#39;</span><span class="p">;</span>

<span class="kr">import</span> <span class="s1">&#39;react-native&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="nx">React</span> <span class="nx">from</span> <span class="s1">&#39;react&#39;</span><span class="p">;</span>

<span class="kr">import</span> <span class="nx">ItemCheckbox</span> <span class="nx">from</span> <span class="s1">&#39;../ItemCheckbox&#39;</span><span class="p">;</span>

<span class="kr">import</span> <span class="nx">renderer</span> <span class="nx">from</span> <span class="s1">&#39;react/lib/ReactTestRenderer&#39;</span><span class="p">;</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="test">
  <h2>
    <a href="#test" name="test" class="pilcrow">&#182;</a>
    Test
  </h2>
</div>

  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="nx">describe</span><span class="p">(</span><span class="s1">&#39;ItemCheckbox&#39;</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="if%20not%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text">
  <h3>
    <a href="#if%20not%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text" name="if%20not%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text" class="pilcrow">&#182;</a>
    if not disabled and checked, it should display check-square and text
  </h3>
</div>


<p>change the props and call <code>testItemCheckbox</code> to validate</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">it</span><span class="p">(</span><span class="s1">&#39;if not disabled and checked, it should display check-square and text&#39;</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="kr">const</span> <span class="nx">props</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nx">checked</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="nx">text</span><span class="o">:</span> <span class="s1">&#39;TextShouldDisplay&#39;</span><span class="p">,</span>
      <span class="nx">disabled</span><span class="o">:</span> <span class="kc">false</span>
    <span class="p">};</span>
    <span class="kr">const</span> <span class="nx">tree</span> <span class="o">=</span> <span class="nx">renderer</span><span class="p">.</span><span class="nx">create</span><span class="p">(</span><span class="o">&lt;</span><span class="nx">ItemCheckbox</span> <span class="p">{...</span><span class="nx">props</span><span class="p">}</span> <span class="o">/&gt;</span><span class="p">).</span><span class="nx">toJSON</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">tree</span><span class="p">).</span><span class="nx">toMatchSnapshot</span><span class="p">();</span>
  <span class="p">});</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="if%20not%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text">
  <h3>
    <a href="#if%20not%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text" name="if%20not%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text" class="pilcrow">&#182;</a>
    if not disabled and not checked, it should display square-o and text
  </h3>
</div>


<p>change the props and call <code>testItemCheckbox</code> to validate</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">it</span><span class="p">(</span><span class="s1">&#39;if not disabled and not checked, it should display square-o and text&#39;</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="kr">const</span> <span class="nx">props</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nx">checked</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nx">text</span><span class="o">:</span> <span class="s1">&#39;TextShouldDisplay&#39;</span><span class="p">,</span>
      <span class="nx">disabled</span><span class="o">:</span> <span class="kc">false</span>
    <span class="p">};</span>
    <span class="kr">const</span> <span class="nx">tree</span> <span class="o">=</span> <span class="nx">renderer</span><span class="p">.</span><span class="nx">create</span><span class="p">(</span><span class="o">&lt;</span><span class="nx">ItemCheckbox</span> <span class="p">{...</span><span class="nx">props</span><span class="p">}</span> <span class="o">/&gt;</span><span class="p">).</span><span class="nx">toJSON</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">tree</span><span class="p">).</span><span class="nx">toMatchSnapshot</span><span class="p">();</span>
  <span class="p">});</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="if%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text">
  <h3>
    <a href="#if%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text" name="if%20disabled%20and%20checked%2C%20it%20should%20display%20check-square%20and%20text" class="pilcrow">&#182;</a>
    if disabled and checked, it should display check-square and text
  </h3>
</div>


<p>change the props and call <code>testItemCheckbox</code> to validate</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">it</span><span class="p">(</span><span class="s1">&#39;if disabled and checked, it should display check-square and text&#39;</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="kr">const</span> <span class="nx">props</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nx">checked</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="nx">text</span><span class="o">:</span> <span class="s1">&#39;TextShouldDisplay&#39;</span><span class="p">,</span>
      <span class="nx">disabled</span><span class="o">:</span> <span class="kc">true</span>
    <span class="p">};</span>
    <span class="kr">const</span> <span class="nx">tree</span> <span class="o">=</span> <span class="nx">renderer</span><span class="p">.</span><span class="nx">create</span><span class="p">(</span><span class="o">&lt;</span><span class="nx">ItemCheckbox</span> <span class="p">{...</span><span class="nx">props</span><span class="p">}</span> <span class="o">/&gt;</span><span class="p">).</span><span class="nx">toJSON</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">tree</span><span class="p">).</span><span class="nx">toMatchSnapshot</span><span class="p">();</span>
  <span class="p">});</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="if%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text">
  <h3>
    <a href="#if%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text" name="if%20disabled%20and%20not%20checked%2C%20it%20should%20display%20square-o%20and%20text" class="pilcrow">&#182;</a>
    if disabled and not checked, it should display square-o and text
  </h3>
</div>


<p>change the props and call <code>testItemCheckbox</code> to validate</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">it</span><span class="p">(</span><span class="s1">&#39;if disabled and not checked, it should display square-o and text&#39;</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="kr">const</span> <span class="nx">props</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nx">checked</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="nx">text</span><span class="o">:</span> <span class="s1">&#39;TextShouldDisplay&#39;</span><span class="p">,</span>
      <span class="nx">disabled</span><span class="o">:</span> <span class="kc">true</span>
    <span class="p">};</span>
    <span class="kr">const</span> <span class="nx">tree</span> <span class="o">=</span> <span class="nx">renderer</span><span class="p">.</span><span class="nx">create</span><span class="p">(</span><span class="o">&lt;</span><span class="nx">ItemCheckbox</span> <span class="p">{...</span><span class="nx">props</span><span class="p">}</span> <span class="o">/&gt;</span><span class="p">).</span><span class="nx">toJSON</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">tree</span><span class="p">).</span><span class="nx">toMatchSnapshot</span><span class="p">();</span>
  <span class="p">});</span>

<span class="p">});</span><span class="c1">//describe ItemCheckbox</span>
</pre></div>
        </td>
      </tr>
  </tbody>
</table>
  </div>
</body>
</html>
